<script lang="ts">
  import RadioButton from "$lib/form/RadioButton.svelte"
  import MDEditor from "$lib/MDEditor/MDEditor.svelte"
  import fiche, {
    ActivityList,
    ActivityScienceList,
    PedagogyGoalList,
    DurationList,
    LocationList,
    ParticipantList,
    CostList
  } from "$lib/store"
  import { TypedKeys } from "$lib/utils"
  import Authors from "$lib/form/Authors.svelte"
  import Attachments from "$lib/form/Attachments.svelte"
  import Material from "$lib/form/Material.svelte"

  let has_imaginary: boolean
  const other = fiche.subStore("activityType").subStore("Autre")
</script>

<label>
  <span>Nom de l'animation</span>
  <input type="text" bind:value={$fiche.title} />
</label>

<fieldset>
  <legend>
    Auteur·rice{$fiche.authors.length > 1 ? "·s" : ""}
  </legend>
  <Authors store={fiche.subStore("authors")} />
</fieldset>

<fieldset>
  <legend>Type d'activité</legend>
  <span class="button-radio">
    <RadioButton
      options={ActivityList}
      store={fiche.subStore("activityType").fromKeys()}
      multiple={true}
    />
  </span>

  {#if "Scientifique" in $fiche.activityType}
    <fieldset class="button-radio">
      <legend>Thématiques scientifiques abordées</legend>
      <RadioButton
        options={ActivityScienceList}
        store={fiche.subStore("activityType").subStore("Scientifique")}
        multiple={true}
      />
    </fieldset>
  {/if}
  {#if "Autre" in $fiche.activityType}
    <div>
      <label>
        Décrivez le type d'activité
        <input type="text" placeholder="" bind:value={$other} />
      </label>
    </div>
  {/if}
</fieldset>

<fieldset>
  <legend>Groupe de participants</legend>
  <RadioButton
    options={ParticipantList}
    store={fiche.subStore("participants").fromKeys()}
    multiple={true}
  />

  {#if "Se vit en groupe" in $fiche.participants}
    <label class="grouped">
      <span>Nombre d'enfants par groupe: </span>
      <input type="number" step="1" min="1" bind:value={$fiche.participants["Se vit en groupe"]} />
    </label>
  {/if}
  {#if "Se vit en équipe" in $fiche.participants}
    <label class="grouped">
      <span>Nombre d'équipes: </span>
      <input type="number" step="1" min="1" bind:value={$fiche.participants["Se vit en équipe"]} />
    </label>
  {/if}
  {#if "Avec un minimum d'enfants requis" in $fiche.participants}
    <label class="grouped">
      <span>Nombre d'enfants requis: </span>
      <input
        type="number"
        step="1"
        min="1"
        bind:value={$fiche.participants["Avec un minimum d'enfants requis"]}
      />
    </label>
  {/if}
</fieldset>

<fieldset>
  <legend>Durée</legend>
  <RadioButton options={DurationList} store={fiche.subStore("duration")} />
</fieldset>

<fieldset>
  <legend>Endroit</legend>
  <RadioButton options={LocationList} store={fiche.subStore("location")} multiple={true} />
</fieldset>

<label class="grouped">
  <span>Nombre d'animateur·rice·s minimum: </span>
  <input type="number" step="1" min="0" bind:value={$fiche.animators} />
</label>

<label class="grouped">
  <span>Âge minimum:</span>
  <input type="number" step="1" min="0" bind:value={$fiche.min_age} />
  <span>ans</span>
</label>

<fieldset>
  <legend>Coût</legend>
  <RadioButton options={CostList} store={fiche.subStore("cost")} />
</fieldset>

<fieldset>
  <legend>Objectifs pédagogiques</legend>
  <RadioButton
    options={PedagogyGoalList}
    store={fiche.subStore("pedagogyGoals").fromKeys()}
    multiple={true}
  />
  {#each TypedKeys($fiche.pedagogyGoals) as goal}
    <div>
      <span>{goal}...</span>
      <textarea bind:value={$fiche.pedagogyGoals[goal]}></textarea>
    </div>
  {/each}
</fieldset>

<fieldset>
  <legend>L'activité a-t-elle un imaginaire qui lui est lié ?</legend>
  <label>
    <input
      type="checkbox"
      bind:checked={has_imaginary}
      on:change={() => ($fiche.imaginary = has_imaginary ? "" : undefined)}
    />
    Oui
  </label>
  {#if $fiche.imaginary != null}
    <MDEditor content={fiche.subStore("imaginary")} />
  {/if}
</fieldset>

<div>
  But de l'animation (but du jeu / objectif de l'animation)
  <MDEditor content={fiche.subStore("goal")} />
</div>

<div>
  Déroulé de l'animation (règles du jeu / étapes clés / méthodologie, ...)
  <MDEditor content={fiche.subStore("methodology")} />
</div>

<div>
  Dispositions particulières (sécurité, mise en place, ...)
  <MDEditor content={fiche.subStore("misc")} />
</div>

<div>
  Variantes (pour aller plus loin)
  <MDEditor content={fiche.subStore("variants")} />
</div>

<fieldset>
  <legend>Fichiers joints</legend>
  <Attachments store={fiche.subStore("attachments")} />
</fieldset>

<fieldset>
  <legend>Matériel</legend>
  <Material store={fiche.subStore("materials")} />
</fieldset>

<style>
  .button-radio {
    display: block;
  }

  label,
  fieldset,
  textarea,
  input,
  span,
  .button-radio {
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
  }

  :is(label, fieldset, textarea, input, span, .button-radio):last-child {
    margin-bottom: 4px !important;
  }

  textarea {
    resize: vertical;
    height: 12rem;
  }

  input[type="number"] {
    width: 8rem !important;
  }

  .grouped {
    align-items: baseline;
  }

  .grouped > * {
    margin-right: 8px;
  }
</style>
