:root {
  --font-size: 1.4rem;
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854f;
  --color-accent-primary: #56bb81;
  --color-accent-light: #d2fadf;
  --color-secondary: #00c8f4;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-color: #333333;
  --font-family-sans: "Ubuntu", "Helvetica", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

* {
  overflow-wrap: break-word;
}

/*html, body {*/
/*    height: 100%;*/
/*}*/

.cm-editor {
  border: 1px solid var(--color-lightGrey);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 1em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  outline: none;
  overflow: scroll;
  background-clip: padding-box;
  height: inherit;
}

.cm-scroller {
  height: inherit;
}

.cm-editor:hover {
  border-color: var(--color-grey);
}

.cm-editor.cm-focused {
  border-color: var(--color-primary);
  -webkit-box-shadow: 0 0 1px var(--color-primary);
  box-shadow: 0 0 1px var(--color-primary);
  outline: none;
}

.button + .button {
  margin-left: 4px;
}

input:checked + .button {
  color: white;
}

.cursor-text,
[contenteditable="true"] {
  cursor: text;
}

.inner-button {
  border-radius: 50%;
  transition: all 0.2s ease;
}

.inner-button:hover {
  background: var(--bg-secondary-color);
}

.button,
button {
  gap: 8px;
}

.button.icon {

  height: 36px;
}

.button.icon-only {
  padding: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.icon-only.wider {
  width: 5rem;
}

.grouped > :not(:last-child) {
  margin-right: 8px;
}

nav.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
}

.tabs > * {
  cursor: pointer;
  -webkit-box-flex: 0;
  border-bottom: 2px solid var(--color-lightGrey);
  color: var(--color-darkGrey);
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs > *:hover {
  border-bottom: 2px solid var(--color-grey);
}


.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}