<script lang="ts">
  import { Toaster } from "svelte-french-toast"
  import { version } from "$app/environment"
  import { page } from "$app/stores"
  const tabs: { name: string; url: string }[] = [
    { name: "Éditeur de fiche", url: "/" },
    { name: "Aide", url: "/help" }
  ]
</script>

<Toaster />

<nav class="nav">
  <div class="nav-left tabs">
    {#each tabs as tab}
      <a href={tab.url} class:active={$page.url.pathname === tab.url}>{tab.name}</a>
    {/each}
  </div>
  <div class="nav-center">
    <span class="brand">
      <img height="48" alt="Logo" src="/favicon.png" />
      Créateur de fiche d'animation
    </span>
  </div>
  <div class="nav-right">
    <slot name="nav-right" />
  </div>
</nav>

<slot name="content" />

<footer>
  <div class="footer-left">
    Créé par Arno Pigeon sur une idée de Cyril Ryckebusch
    <br />Distribué sous GNU AGPLv3.0
  </div>
  <div class="footer-right text-right">
    <a target="_blank" href="https://gitlab.com/4rnoP/fiches-anim">Voir le code source</a>
    <br />
    Version: {version}
  </div>
</footer>

<style>
  nav {
    box-shadow: 0 0 4px rgb(128, 128, 128);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--bg-color);
  }
  footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0 4px rgb(128, 128, 128);
    padding: 2rem;
    align-items: center;
  }
</style>
