<script lang="ts">
  import Marked from "$lib/Marked.svelte"
  import fiche from "$lib/store"
</script>

<h3 class="text-center">Fiche d'animation: {$fiche.title || "Titre"}</h3>

{#if $fiche.authors.length}
  <p class="is-right">par {$fiche.authors.join(", ")}</p>
{/if}

<table id="mainInfos">
  <tr>
    <td colspan="2" class="text-center">
      Type d'activité: {Object.keys($fiche.activityType)
        .map((activity) =>
          activity === "Scientifique" &&
          Boolean($fiche.activityType.Scientifique) &&
          $fiche.activityType.Scientifique?.length != 0
            ? $fiche.activityType.Scientifique?.join(", ")
            : activity
        )
        .map((activity) => (activity === "Autre" ? $fiche.activityType[activity] : activity))
        .map((str) => str?.toLowerCase())
        .join(", ") || "non renseigné"}
    </td>
  </tr>
  <tr>
    <td>
      Participants: {Object.keys($fiche.participants)
        .map((i) =>
          i === "Se vit en groupe"
            ? i +
              ` (${$fiche.participants[i] || 1} ${($fiche.participants[i] || 1) > 1 ? "enfants" : "enfant"} par groupe)`
            : i
        )
        .map((i) =>
          i === "Se vit en équipe"
            ? i +
              ` (${$fiche.participants[i] || 1} ${($fiche.participants[i] || 1) > 1 ? "équipes" : "équipe"})`
            : i
        )
        .map((i) =>
          i === "Avec un minimum d'enfants requis"
            ? `min. ${$fiche.participants[i] || 1} ${($fiche.participants[i] || 1) > 1 ? "enfants" : "enfant"}`
            : i
        )
        .map((str) => str?.toLowerCase())
        .join(", ") || "non renseigné"}
    </td>
    <td>
      Durée de l'activité: {$fiche?.duration?.toLowerCase() || "non renseignée"}
    </td>
  </tr>
  <tr>
    <td>
      Lieu d'activité: {$fiche?.location?.join(", ")?.toLowerCase() || "non renseigné"}
    </td>
    <td>
      Nombre d'animateur·rice·s requis: {$fiche?.animators || "non renseigné"}
    </td>
  </tr>
  <tr>
    <td>
      Âge minimum: {$fiche?.min_age ? `${$fiche.min_age} ans` : "non renseigné"}
    </td>

    <td>
      Coût: {$fiche.cost?.toLowerCase() || "non renseigné"}
    </td>
  </tr>
</table>

<br />
{#if Object.keys($fiche.pedagogyGoals).length}
  <h4>Objectifs pédagogiques</h4>
  {#each Object.entries($fiche.pedagogyGoals) as pedag}
    <p>{pedag[0]} {@html pedag[1]?.replaceAll("\n", "<br>") || "..."}</p>
  {/each}
{/if}

{#if $fiche.imaginary}
  <div>
    <h4>Imaginaire</h4>
    <Marked content={$fiche.imaginary} />
  </div>
{/if}

{#if $fiche.goal}
  <div>
    <h4>But de l'animation</h4>
    <Marked content={$fiche.goal} />
  </div>
{/if}

{#if $fiche.methodology}
  <div>
    <h4>Déroulé de l'animation</h4>
    <Marked content={$fiche.methodology} />
  </div>
{/if}

{#if $fiche.misc}
  <div>
    <h4>Dispositions particulières</h4>
    <Marked content={$fiche.misc} />
  </div>
{/if}

{#if $fiche.variants}
  <div>
    <h4>Variantes</h4>
    <Marked content={$fiche.variants} />
  </div>
{/if}

{#if $fiche.attachments.length > 0}
  <div>
    <h4>Fichiers joints</h4>
    <ul>
      {#each $fiche.attachments as file}
        <li>{file.filename}</li>
      {/each}
    </ul>
    <small>
      <p>
        Cette fiche contient des fichiers joints. Certains lecteurs de PDF ne permettent pas la
        lecture des pièces jointes dans les PDFs.<br /> Utilisez Firefox, Adobe Acrobate, ou bien l'éditeur
        de fiches d'animation pour pouvoir les ouvrir correctement.
      </p>
    </small>
  </div>
{/if}

{#if $fiche.materials.length}
  <div>
    <h4>Matériel</h4>

    <table class="striped">
      <colgroup>
        <col span="1" />
        <col style="width: 7%" span="1" />
        <col style="width: 10%" span="1" />
        <col style="width: 24rem" span="1" />
      </colgroup>
      <tr>
        <th>Matériel</th>
        <th>Quantité</th>
        <th>Unité</th>
        <th>Métrique</th>
      </tr>
      {#each $fiche.materials as material}
        <tr>
          <td>{material.item}</td>
          <td>{material.quantity}</td>
          <td>{material.quantityUnit}</td>
          <td>{material.quantityMetric}</td>
        </tr>
      {/each}
    </table>
  </div>
{/if}

<style>
  td,
  th {
    border: black solid 0.2mm;
    margin: 0;
    gap: 0;
  }
  table#mainInfos td {
    width: 50%;
  }

  * {
    word-wrap: break-word;
    font-family: Helvetica;
  }
</style>
