<script lang="ts">
  import { FilePlusIcon, XIcon } from "lucide-svelte"

  export let store

  import { openFile } from "$lib/utils.js"

  async function addAttachmentFile(e: Event) {
    let file = openFile(e)
    let data = new Uint8Array(await file.arrayBuffer())
    $store.push({
      filename: file.name,
      content: data
    })
    $store = $store
  }

  function deleteFile(i: number) {
    $store = $store.filter((_, j) => i != j)
  }
</script>

{#each $store as attachment, i}
  <span
    class="button file icon"
    on:click={() => open(URL.createObjectURL(new Blob([attachment.content])))}
  >
    <span>{attachment.filename}</span>
    <span class="inner-button" on:click={() => deleteFile(i)}><XIcon /></span>
  </span>
{/each}
<label class="button add-file icon" on:change={addAttachmentFile}>
  <span>Ajouter un fichier</span>
  <FilePlusIcon />
  <input type="file" style="display: none" />
</label>

<style>
</style>
