<script lang="ts">
  import type { FicheData, ObjectStore } from "$lib/store"
  import { UserPlusIcon } from "lucide-svelte"
  import { tick } from "svelte"
  export let store: ObjectStore<FicheData["authors"]>

  let authorsElements: HTMLSpanElement[] = []
  function addAuthor() {
    $store.push("")
    $store = $store
    tick().then(() => {
      authorsElements[$store.length - 1].focus()
    })
  }
  function finishEdit(e: Event & { currentTarget: EventTarget & HTMLSpanElement }, i: number) {
    if ($store[i] == "" || $store.toSpliced(i, 1).includes($store[i])) {
      $store.splice(i, 1)
      $store = $store
    }
    e.currentTarget.blur()
  }
</script>

<div style="display: flex">
  {#each $store as author, i}
    <button
      class="button cursor-text author"
      contenteditable="true"
      bind:this={authorsElements[i]}
      bind:textContent={author}
      on:keydown={(e) => {
        if (e.key === "Enter") {
          e.preventDefault()
          finishEdit(e, i)
        }
      }}
      on:blur={(e) => finishEdit(e, i)}
    />
  {/each}

  <button class="button icon-only wider" on:click={addAuthor}>
    <UserPlusIcon />
  </button>
</div>

<style>
  .author {
    vertical-align: center;
    height: 36px;
  }
</style>
