<script lang="ts">
  import type { FicheData, Material, ObjectStore } from "$lib/store"
  import { MaterialMetricList } from "$lib/store"
  import { getUniqueValues } from "$lib/utils.js"
  import { CheckIcon, PenLineIcon, PlusIcon, Trash2Icon } from "lucide-svelte"

  export let store: ObjectStore<FicheData["materials"]>
  let newMaterial: Material = {
    item: "",
    quantity: 0,
    quantityMetric: "valeur absolue",
    quantityUnit: ""
  }
  let editingIndex: number | null = null
</script>

<table class="striped">
  <colgroup>
    <col />
    <col style="width: 15%" />
    <col style="width: 25%" />
    <col style="width: 80px" />
  </colgroup>
  <tr>
    <th>Matériel</th>
    <th>Quantité</th>
    <th>Métrique</th>
  </tr>
  {#each $store as material, i}
    {#if i === editingIndex}
      <tr>
        <td>
          <input bind:value={material.item} />
        </td>
        <td>
          <span class="grouped">
            <input type="number" bind:value={material.quantity} size="4" placeholder="Quantité" />
            <input bind:value={material.quantityUnit} size="4" placeholder="Unité" list="units" />
          </span>
        </td>
        <td>
          <select bind:value={material.quantityMetric}>
            {#each MaterialMetricList as metric}
              <option value={metric}>{metric}</option>
            {/each}
          </select>
        </td>
        <td class="is-right">
          <span class="button icon-only" on:click={() => (editingIndex = null)}>
            <CheckIcon />
          </span>
        </td>
      </tr>
    {:else}
      <tr>
        <td>{material.item}</td>
        <td>{material.quantity} {material.quantityUnit}</td>
        <td>{material.quantityMetric}</td>
        <td class="is-right">
          {#if editingIndex === null}
            <span class="button icon-only" on:click={() => (editingIndex = i)}>
              <PenLineIcon size="20px" />
            </span>
            <span
              class="button icon-only"
              on:click={() => {
                $store.splice(i, 1)
                $store = $store
              }}
            >
              <Trash2Icon size="20px" />
            </span>
          {/if}
        </td>
      </tr>
    {/if}
  {/each}
</table>

<span
  class="button pull-right icon-only add-material"
  on:click={() => {
    $store.push(Object.assign({}, newMaterial))
    $store = $store
    editingIndex = $store.length - 1
  }}
  ><PlusIcon />
</span>

<datalist id="units">
  {#each getUniqueValues($store
      .map((m) => m.quantityUnit)
      .concat(["unité(s)", "assortiment", "cm", "m", "cm²", "m²", "cl", "L", "g", "kg"])) as unit}
    <option value={unit}></option>
  {/each}
</datalist>

<style>
  .add-material {
    margin: 4px;
  }

  table td {
    height: 4.5rem;
    padding: 4px;
  }
  table tr {
    vertical-align: center;
  }
</style>
