<script lang="ts">
  import type { Writable } from "svelte/store"
  export let options: readonly string[] = []
  export let store: Writable<string | string[] | null>
  export let multiple: boolean = false
  if ($store == null && multiple == true) {
    $store = []
  }
</script>

{#if !multiple}
  {#each options as value}
    <label class="button">
      <input type="radio" bind:group={$store} {value} />
      <span>{value}</span>
    </label>
  {/each}
{:else}
  {#each options as value}
    <label class="button">
      <input type="checkbox" bind:group={$store} {value} />
      <span>{value}</span>
    </label>
  {/each}
{/if}

<style>
  .button {
    margin-bottom: 2px;
  }

  label > input {
    display: none;
  }

  label:has(> input:checked) {
    background-color: var(--color-primary);
    color: white;
  }
</style>
