<script>
  export let closeModal = () => {}
</script>

<p>Vous pouvez mettre en forme ce contenu avec le langage de balisage Markdown</p>
<p>
  Pour en apprendre plus sur la syntaxe Markdown, vous pouvez
  <a target="_blank" href="https://gitlab.com/-/snippets/2500136">consulter cette page</a>
</p>

<div class="actions">
  <button
    on:click={() => {
      closeModal()
    }}>OK</button
  >
</div>

<style>
  * {
    line-height: 1;
  }
</style>
