<script lang="ts">
  import { onMount } from "svelte"
  import { keymap, EditorView, showPanel, ViewPlugin } from "@codemirror/view"
  import { defaultKeymap, history, historyKeymap } from "@codemirror/commands"
  import { markdown } from "@codemirror/lang-markdown"
  import { minimalSetup } from "codemirror"
  import Modal from "./Modal.svelte"
  import MarkdownExplained from "./MarkdownExplained.svelte"
  import type { Writable } from "svelte/store"
  import { get } from "svelte/store"
  import {
    BoldIcon,
    CodeIcon,
    HelpCircleIcon,
    ItalicIcon,
    ListIcon,
    ListOrderedIcon,
    StrikethroughIcon
  } from "lucide-svelte"
  let editor: EditorView
  let panel: HTMLElement
  let showModal: boolean
  export let content: Writable<string>
  let anchor: HTMLElement

  onMount(() => {
    editor = new EditorView({
      doc: get(content),
      parent: anchor,
      extensions: [
        EditorView.updateListener.of((update) => {
          if (update.docChanged) content.set(update.state.doc.toString())
        }),
        EditorView.lineWrapping,
        history(),
        keymap.of([...defaultKeymap, ...historyKeymap]),
        markdown(),
        showPanel.of(() => ({ top: true, dom: panel })),
        EditorView.theme({
          ".cm-scroller": {
            font: "inherit"
          }
        }),
        ViewPlugin.define((v: EditorView) => {
          let spellCheck = () =>
            Array.from(v.dom.getElementsByClassName("cm-content")).forEach((v) =>
              v.setAttribute("spellcheck", "true")
            )
          spellCheck()
          return {
            update: spellCheck
          }
        }).extension,
        minimalSetup
      ]
    })
  })

  function selectionRange(): [number, number] {
    return [editor.state.selection.main.from, editor.state.selection.main.to]
  }

  function wholeLines([from, to]: [number, number]): [number, number] {
    return [editor.state.doc.lineAt(from).from, editor.state.doc.lineAt(to).to]
  }

  function modifyRange([from, to]: [number, number], token: RegExp, replace: string) {
    editor.dispatch({
      changes: {
        from,
        to,
        insert: editor.state.doc.sliceString(from, to).replaceAll(token, replace)
      }
    })
  }

  function switchBetween(
    [from, to]: [number, number],
    test: RegExp,
    token: RegExp,
    replace1: string,
    replace2: string
  ) {
    if (editor.state.doc.sliceString(from, to).match(test)) {
      modifyRange([from, to], token, replace2)
    } else {
      modifyRange([from, to], token, replace1)
    }
  }

  function simpleTags(tag: string, tag2 = tag) {
    let sanitized = tag.replaceAll(/([-.\\+*?[^\]$(){}=!<>|:])/g, "\\$1")
    let sanitized2 = tag2.replaceAll(/([-.\\+*?[^\]$(){}=!<>|:])/g, "\\$1")
    let test = new RegExp(`^${sanitized}(.*?)${sanitized2}$`, "gs")
    let token = new RegExp(`^(${sanitized})?(.*?)(${sanitized2})?$`, "gs")
    switchBetween(selectionRange(), test, token, `${tag}$2${tag2}`, "$2")
  }

  function lineTags(tag: string) {
    let sanitized = tag.replaceAll(/([-.\\+*?[^\]$(){}=!<>|:])/g, "\\$1")
    let test = new RegExp(`^${sanitized} `, "gm")
    let token = new RegExp(`^(${sanitized} )?`, "gm")
    switchBetween(wholeLines(selectionRange()), test, token, tag + " ", "")
  }
</script>

<div class="editor" bind:this={anchor}>
  {#if showModal}
    <Modal
      closeModal={() => {
        showModal = false
      }}
      content={MarkdownExplained}
    />
  {/if}
</div>

<slot>
  <div bind:this={panel} class="panel">
    <span class="panel-left">
      <select
        class="h-select"
        on:input={(e) => {
          e.target.selectedIndex = 0
        }}
      >
        <option disabled selected>Titres</option>
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "")}
          >Paragraphe</option
        >
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "# ")}
          >Titre 1</option
        >
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "## ")}
          >Titre 2</option
        >
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "### ")}
          >Titre 3</option
        >
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "#### ")}
          >Titre 4</option
        >
        <option on:click={() => modifyRange(wholeLines(selectionRange()), /^(#+ )?/gm, "##### ")}
          >Titre 5</option
        >
      </select>
      <button class="button" title="Gras" on:click={() => simpleTags("**")}>
        <BoldIcon strokeWidth={3} size="16px" />
      </button>
      <button class="button" title="Italique" on:click={() => simpleTags("*")}>
        <ItalicIcon size="16px" />
      </button>
      <button class="button" title="Barré" on:click={() => simpleTags("~~")}>
        <StrikethroughIcon size="16px" />
      </button>
      <button class="button" title="Liste" on:click={() => lineTags("-")}>
        <ListIcon size="16px" />
      </button>
      <button class="button" title="Énumération" on:click={() => lineTags("1.")}>
        <ListOrderedIcon size="16px" />
      </button>
      <button class="button" title="Bloc de code" on:click={() => simpleTags("```\n", "\n```")}>
        <CodeIcon size="16px" />
      </button>
      <!--        <span class="button">Lien</span>-->
      <!--        <span class="button">Image</span>-->
    </span>
    <span class="panel-right">
      <button
        class="button icon-only"
        on:click={() => {
          showModal = true
        }}
      >
        <HelpCircleIcon size="18px" />
      </button>
    </span>
  </div>
</slot>

<style>
  .panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
  }
  .panel > * {
    display: flex;
    gap: 2px;
  }
  :is(.panel-left, .panel-right) > * {
    margin-left: 4px;
  }
  :is(.panel-left, .panel-right) > *:last-child {
    margin-right: 4px;
  }
  select {
    height: 26px;
    margin: unset;
    padding: 0 4px;
  }
  .button {
    width: 26px;
    height: 26px;
    margin: auto;
    padding: 5px 0;
  }
  .h-select {
    width: 10rem;
    display: inline;
  }
  .editor {
    resize: vertical;
    overflow: hidden;
    height: 25rem;
    margin-bottom: 1rem;
    transform: scale(1, 1);
  }
</style>
