<script>
  export let closeModal = () => {}
  export let modalSpecs = undefined
  export let content
</script>

<div role="dialog" class="modal">
  <div class="contents">
    <svelte:component this={content} {closeModal} {...modalSpecs} />
  </div>
</div>
<div
  class="backdrop"
  on:click={() => {
    closeModal()
  }}
/>

<style>
  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9;
  }
  .modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* allow click-through to backdrop */
    pointer-events: none;
  }
  .contents {
    min-width: 240px;
    border-radius: 6px;
    padding: 8px;
    background: var(--bg-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: auto;
    box-shadow: 0 0 4px var(--color-grey);
    z-index: 10;
  }
</style>
