<script lang="ts">
  import Editor from "$lib/Editor.svelte"
  import Renderer from "$lib/Renderer.svelte"
  import fiche from "$lib/store"
  import { openFiche, saveFiche } from "$lib/io"
  import Layout from "$lib/Layout.svelte"
  import { Columns2Icon, EyeIcon, FolderOpen, PencilLineIcon, SaveIcon } from "lucide-svelte"
  import toast from "svelte-french-toast"
  let view: "editor" | "combo" | "render" = "editor"
</script>

<Layout>
  <slot slot="nav-right">
    <span class="tabs">
      <label title="Ouvrir un document">
        <input
          type="file"
          accept="application/pdf"
          style="display: none"
          on:change={(e) => {
            openFiche(e)
            view = "render"
          }}
        />
        <FolderOpen aria-label="Ouvrir un document" />
      </label>
      <span
        on:click={() => {
          view = "render"
          toast.promise(
            saveFiche($fiche),
            {
              loading: "Génération en cours...",
              success: "Document généré",
              error: "Erreur lors de la génération du document"
            },
            { duration: 10000 }
          )
        }}
      >
        <SaveIcon aria-label="Sauvegarder le document" />
      </span>
    </span>
    <span class="view-select">
      <label>
        <input type="radio" bind:group={view} value="editor" />
        <span><PencilLineIcon /></span>
      </label>
      <label>
        <input type="radio" bind:group={view} value="combo" />
        <span><Columns2Icon /></span>
      </label>
      <label>
        <input type="radio" bind:group={view} value="render" />
        <span><EyeIcon /></span>
      </label>
    </span>
  </slot>

  <slot slot="content">
    <main class={view !== "combo" ? "" : "split"}>
      {#if view !== "render"}
        <div class="editor container">
          <Editor />
        </div>
      {/if}
      <div id="print" class="render container {view === 'editor' ? 'hidden' : ''}">
        <Renderer />
      </div>
    </main>
  </slot>
</Layout>

<style>
  .view-select > * {
    padding: 0 !important;
  }

  .view-select {
    display: flex;
    align-items: center;
  }

  .view-select > * > span {
    cursor: pointer;
    width: 6rem;
    padding: 8px 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color-lightGrey);
  }

  .view-select > * > input:checked + span {
    background-color: var(--color-lightGrey);
  }

  .view-select > * > input {
    display: none;
  }

  .view-select > *:first-child > span {
    border-radius: 8px 0 0 8px;
    margin-left: 12px;
  }

  .view-select > *:last-child > span {
    border-radius: 0 8px 8px 0;
    margin-right: 12px;
  }

  .split {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .hidden {
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
</style>
