html {
  font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

nav,
footer,
.editor {
  display: none !important;
}

main.split {
  display: block !important;
  grid-template-columns: unset !important;
}

.render {
  visibility: visible !important;
  height: unset !important;
}

h3 {
  font-size: 16px;
  margin-bottom: 2rem;
}

h4 {
  font-size: 14px;
}

* {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  border: black dotted 0.2mm;
  padding: 0.2cm;
  width: 50%;
}
