<script lang="ts">
  import Layout from "$lib/Layout.svelte"
  import { onMount } from "svelte"
  let domain: string
  onMount(() => {
    domain = "sysody.eu"
  })
</script>

<Layout>
  <slot slot="content">
    <main class="container card">
      <h1>Aide</h1>

      <h3>Présentation de l'outil</h3>
      <p>
        Fiches Anim est un outil to permettant de créer et d'éditer des fiches d'animation pour tes
        animations, afin d'avoir une trace écrite de ce que tu prévois de réaliser, que tu peux
        ensuite partager avec ton coordinateur ou d'autres animateurs.
      </p>
      <p>
        En naviguant sur l'onglet "Éditeur de fiche", tu peux créer une nouvelle fiche en
        remplissant les champs correspondants, puis enregistrer la fiche créée au format PDF sur ton
        ordinateur, pour la modifier plus tard sur l'outil Fiches-anim, ou bien l'envoyer à d'autres
        personnes par e-mail, message, ...
      </p>
      <p>
        Ce site web ne nécessite pas de compte web et n'enregistre pas tes fiches en ligne. Pense
        donc bien à faire une sauvegarde sur ton appareil !
      </p>

      <h3>Rédiger une fiche d'animation</h3>
      <ul>
        <li>
          Il faut donner un <strong>titre</strong> à ton animation : choisis un titre compréhensible
          et qui pointe bien la thématique de l'animation, mais sans être trop large.
        </li>
        <li>Renseigne son ou ses <strong>auteur·rice·s</strong>: c'est toi !</li>
        <li>
          Choisis diverses <strong>caractéristiques</strong> pour définir au mieux ton animation. Tu
          as sélectionné un mauvais tag ? Il te suffit de cliquer dessus pour le désélectionner.
        </li>
        <li>
          Précise quels sont ses <strong>objectifs pédagogiques</strong>. En d'autres termes,
          qu'est-ce que tu apprends, enseignes ou éveilles chez les jeunes lors de ton animation ?
        </li>
        <li>
          Explique le <strong>but de l'animation</strong>. S'agit-il d'un grand-jeu d'approche où tu
          vas les faire courir à n'en plus finir, ou bien d'une animation bricolage où ils
          repartiront avec des catapultes miniatures ?
        </li>
        <li>
          Renseigne le <strong>déroulé de ton animation</strong> de manière complète afin de ne pas laisser
          de place au doute le jour J ! Cela peut être la méthodologie d'une animation scientifique,
          les règles de ton grand-jeu, ou bien la recette de ton animation cuisine.
        </li>
        <li>
          Le cadre « <strong>Pour aller plus loin...</strong> » te permet d'évoquer des idées de prolongement
          de l'animation s'il y avait du temps supplémentaire, si l'animation devenait un projet, etc.
        </li>
        <li>
          Un encart est consacrée aux dispositions particulières de ton animation, accorde-lui de
          l'importance. Est-ce qu'il y a des choses auxquelles il faut faire attention durant ton
          animation au niveau de la <strong>sécurité</strong>, de la
          <strong>mise en place</strong>, ...
        </li>
        <li>
          Une section te permet d'encoder la description précise du <strong>matériel</strong> dont tu
          auras besoin pour ton animation. Pour chaque élément que tu encodes, tu peux préciser la quantité
          nécessaire, l'unité, et de quelle manière le comptabiliser. Par exemple: il te faut de l'eau,
          1 litre, par animé plus l'animateur.
        </li>
        <li>
          Tu peux également ajouter des <strong>fichiers joints</strong> sur ta fiche. Attention, ne
          met pas des fichers trop gros sinon le PDF qui sera généré risque d'être très lourd !
        </li>
      </ul>

      <h3>Besoin d'aide ?</h3>
      <p>
        Si tu as des difficultés à la prise en main de cet outil, n'hésite pas à demander de l'aide
        auprès de ton coordinateur d'activité.
      </p>
      <p>
        Si tu as trouvé un bug sur l'outil Fiches Anim, vérifie
        <a
          href="https://gitlab.com/4rnoP/fiches-anim/-/issues/?&state=opened&label_name%5B%5D=Bug"
          target="_blank"
          rel="noopener noreferrer"
        >
          ici
        </a>
        qu'il n'a pas déjà été identifié, et si ce n'est pas le cas, n'hésites pas à le notifier par:
      </p>
      <ul>
        <li>
          mail à <code>fiches-anim[AROBASE]{domain}</code>, en remplaçant [AROBASE] par le caractère
          approprié
        </li>
        <li>
          message Discord, à
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://discord.com/users/165380271284158464"
          >
            4rno
          </a>
        </li>
        <li>ou bien si tu connais la plateforme GitLab, ouvre simplement une issue.</li>
      </ul>
      <p>
        N'oublie pas de décrire le soucis rencontré, quel est ton navigateur web, dans quelles
        circonstances c'est arrivé, ...
      </p>
      <h3>Envie de contribuer ?</h3>
      <p>
        Si tu veux contribuer à l'amélioration de cet outil, tu es le/la bienvenue ! Fiches anim
        étant sous licence libre, chacun peut aider en remontant des bugs rencontrés, proposer des
        améliorations ou de nouvelles fonctionnalités, et si tu en a les capacités, contribuer à son
        code source directement !
      </p>
      <p>
        Le
        <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/4rnoP/fiches-anim">
          code source
        </a>
        est disponible sous
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://fr.wikipedia.org/wiki/GNU_Affero_General_Public_License"
        >
          licence AGPL-3.0</a
        >.
      </p>
      <p>
        Les améliorations planifiées et les bugs identifiés sont listés dans le
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://gitlab.com/4rnoP/fiches-anim/-/issues"
        >
          issues Gitlab</a
        >.
      </p>
    </main>
  </slot>
</Layout>
